{% extends 'base.html' %}

{% load static %}

{% block title %}4IPDW - About{% endblock %}

{% block content %}

<main class="d-flex justify-content-center row pt-3">
    {% if content %}
    <header class="border-primary border-top border-5">
        <h2 class="text-center pb-4 pt-2 text-danger">{{ content.title_sta }}</h2>
    </header>
    <div class="d-flex row">
            {{ content.content_sta|safe }}
    </div>
    {% else %}
     <header class="border-primary border-top border-5">
        <h2 class="text-center pb-4 pt-2 text-danger">Erreur connection a la DB</h2>
    </header>
    {% endif %}
</main>

{% endblock %}