{% extends 'base.html' %}

{% load static %}

{% block content %}

<main class="d-flex justify-content-center row pt-3">
    <header class="border-primary border-top border-5">
        <h2 class="text-center pb-4 pt-2 text-danger">Vos favoris</h2>
        {% if articles %}
        <h3 class="text-center pb-4 pt-2">Nombre d'article: {{ articles|length }}</h3>
        {% endif %}
    </header>
    {% if articles %}
            <div class="col-10">
                <ul class="list-group">
                    {% for article in articles %}
                         <li class="list-group-item list-group-item-action">
                             <a href="{% url 'article' article.id_art %}" target="_self">{{ article.id_art }} - {{ article.title_art }}</a>
                         </li>
                    {% endfor %}
                </ul>
            </div>
    {% else %}
        <h2 class="text-center">Aucun article dans vos favoris</h2>
    {% endif %}
</main>

{% endblock %}