{% extends 'base.html' %}

{% load static %}

{% block title %}4IPDW - Home{% endblock %}

{% block content %}

    <!-- MAIN -->
    <main class="row mt-4">
        <article class="col-lg-9">
            <div class="container border-primary border-top border-5 me-lg-2">
                <div class="row">
                    <header class="pt-2">
                        <h2>Principal</h2>
                    </header>
                    <!-- ARTICLE PRINCIPALE -->
                    <article class="col-md-7 pb-3">
                        <a class="article rounded" href="{% url 'article' articles.0.id_art %}" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/' %}{{ articles.0.image_art }}" alt="Article Main Image" onerror="imageNotFound(this)">
                            </picture>
                            {% if articles.0.is_favorite %}
                                <div class="text-center bg-success bg-opacity-75 text-white m-1 p-1 rounded">Favoris</div>
                            {% endif %}
                            <header class="py-3">
                                <h2>{{ articles.0.title_art }}</h2>
                                <p>{{ articles.0.date_art }}</p>
                            </header>
                            <p>{{ articles.0.hook_art }}</p>
                        </a>
                    </article>
                    <!-- ASIDE (partie a droite de l'article principal)-->
                    {% if articles|length > 1 %}
                    <aside class="col-md-5">
                        <!-- ARTICLE 2 -->
                        <section class="pb-3">
                            <a class="article rounded" href="{% url 'article' articles.1.id_art %}" target="_self">
                                <picture>
                                    <img class="img-fluid img-thumbnail" src="{% static 'app/media/' %}{{ articles.1.image_art }}"
                                        alt="Article 1 Main Image" onerror="imageNotFound(this)">
                                </picture>
                                {% if articles.1.is_favorite %}
                                    <div class="text-center bg-success bg-opacity-75 text-white m-1 p-1 rounded">Favoris</div>
                                {% endif %}
                                <header class="pt-3 pb-1">
                                    <h2>{{ articles.1.title_art }}</h2>
                                    <p>{{ articles.1.date_art }}</p>
                                </header>
                                <p>{{ articles.1.hook_art }}</p>
                            </a>
                        </section>
                        <!-- ARTICLE 3 -->
                        {% if articles|length > 2 %}
                        <section class="pb-3">
                            <a class="article rounded" href="{% url 'article' articles.2.id_art %}" target="_self">
                                <picture>
                                    <img class="img-fluid img-thumbnail" src="{% static 'app/media/' %}{{ articles.2.image_art }}"
                                        alt="Article 2 Main Image" onerror="imageNotFound(this)">
                                </picture>
                                {% if articles.2.is_favorite %}
                                    <div class="text-center bg-success bg-opacity-75 text-white m-1 p-1 rounded">Favoris</div>
                                {% endif %}
                                <h2>{{ articles.2.title_art }}</h2>
                                <p>{{ articles.2.hook_art }}</p>
                            </a>
                        </section>
                        {% endif %}
                    </aside>
                    {% endif %}
                    <!-- ARTICLE 4 -->
                    {% if articles|length > 3 %}
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="{% url 'article' articles.3.id_art %}" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/' %}{{ articles.3.image_art }}"
                                    alt="Article 3 Main Image" onerror="imageNotFound(this)">
                            </picture>
                            {% if articles.3.is_favorite %}
                                <div class="text-center bg-success bg-opacity-75 text-white m-1 p-1 rounded">Favoris</div>
                            {% endif %}
                            <h3 class="pt-2">{{ articles.3.title_art }}</h3>
                            <p>{{ articles.3.hook_art }}</p>
                        </a>
                    </article>
                    {% endif %}
                    <!-- ARTICLE 5 -->
                    {% if articles|length > 4 %}
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="{% url 'article' articles.4.id_art %}" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/' %}{{ articles.4.image_art }}"
                                    alt="Article 4 Main Image" onerror="imageNotFound(this)">
                            </picture>
                            {% if articles.4.is_favorite %}
                                <div class="text-center bg-success bg-opacity-75 text-white m-1 p-1 rounded">Favoris</div>
                            {% endif %}
                            <h3 class="pt-2">{{ articles.4.title_art }}</h3>
                            <p>{{ articles.4.hook_art }}</p>
                        </a>
                    </article>
                    {% endif %}
                    <!-- ARTICLE 6 -->
                    {% if articles|length > 5 %}
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="{% url 'article' articles.5.id_art %}" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/' %}{{ articles.5.image_art }}"
                                    alt="Article 5 Main Image" onerror="imageNotFound(this)">
                            </picture>
                            {% if articles.5.is_favorite %}
                                <div class="text-center bg-success bg-opacity-75 text-white m-1 p-1 rounded">Favoris</div>
                            {% endif %}
                            <h3 class="pt-2">{{ articles.5.title_art}}</h3>
                            <p>{{ articles.5.hook_art }}</p>
                        </a>
                    </article>
                    {% endif %}
                    <!-- ARTICLE 7 -->
                    {% if articles|length > 6 %}
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="{% url 'article' articles.6.id_art %}" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/' %}{{ articles.6.image_art }}"
                                    alt="Article 6 Main Image" onerror="imageNotFound(this)">
                            </picture>
                            {% if articles.6.is_favorite %}
                                <div class="text-center bg-success bg-opacity-75 text-white m-1 p-1 rounded">Favoris</div>
                            {% endif %}
                            <h3 class="pt-2">{{ articles.6.title_art }}</h3>
                            <p>{{ articles.6.hook_art }}</p>
                        </a>
                    </article>
                    {% endif %}
                    <!-- ARTICLE 8 -->
                    {% if articles|length > 7 %}
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="{% url 'article' articles.7.id_art %}" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/' %}{{ articles.7.image_art }}" alt="Article 7 Main Image" onerror="imageNotFound(this)">
                            </picture>
                            {% if articles.7.is_favorite %}
                                <div class="text-center bg-success bg-opacity-75 text-white m-1 p-1 rounded">Favoris</div>
                            {% endif %}
                            <h3 class="pt-2">{{ articles.7.title_art }}</h3>
                            <p>{{ articles.7.hook_art }}</p>
                        </a>
                    </article>
                    {% endif %}
                    <!-- ARTICLE 9 -->
                    {% if articles|length > 8 %}
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="{% url 'article' articles.8.id_art %}" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/' %}{{ articles.8.image_art }}"
                                    alt="Article 8 Main Image" onerror="imageNotFound(this)">
                            </picture>
                            {% if articles.8.is_favorite %}
                                <div class="text-center bg-success bg-opacity-75 text-white m-1 p-1 rounded">Favoris</div>
                            {% endif %}
                            <h3 class="pt-2">{{ articles.8.title_art }}</h3>
                            <p>{{ articles.8.hook_art }}</p>
                        </a>
                    </article>
                    {% endif %}
                </div>
            </div>

        </article>
        <!-- ASIDE (partie Opinion)-->
        <aside class="col-lg-3">
            <div class="container border-primary border-top border-5 ms-2">
                <div class="row">
                    <header class="pt-2">
                        <h2>Opinion</h2>
                    </header>
                    <section class="container py-3">
                        <div class="row border-secondary border-bottom border-1 mx-1">
                            <div class="col-9 ">
                                <h4 class="text-danger">Bajo Reservatext</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                            <picture class="col-3">
                                <img class="img-opinion" src="{% static 'app/media/logo/profile.png' %}" alt="Image Profile 1">
                            </picture>
                        </div>
                    </section>
                    <section class="container py-3">
                        <div class="row border-secondary border-bottom border-1 mx-1">
                            <div class="col-9">
                                <h4 class="text-danger">Hector De Mauleon</h4>
                                <p>Voluptatem deleniti minima vel aliquam mollitia alias</p>
                            </div>
                            <picture class="col-3">
                                <img class="img-opinion" src="{% static 'app/media/logo/profile.png' %}" alt="Image Profile 1">
                            </picture>
                        </div>
                    </section>
                    <section class="container py-3">
                        <div class="row border-secondary border-bottom border-1 mx-1">
                            <div class="col-9">
                                <h4 class="text-danger">Salvador Garcia Soto</h4>
                                <p>Illum eveniet cum molestias tempore labore neque eius</p>
                            </div>
                            <picture class="col-3">
                                <img class="img-opinion" src="{% static 'app/media/logo/profile.png' %}" alt="Image Profile 1">
                            </picture>
                        </div>
                    </section>
                    <section class="container py-3">
                        <div class="row border-secondary border-bottom border-1 mx-1">
                            <div class="col-9">
                                <h4 class="text-danger">Carlos Loret de Mola</h4>
                                <p>Labore neque eius architecto dicta fugit eaque laudantium quos. </p>
                            </div>
                            <picture class="col-3">
                                <img class="img-opinion" src="{% static 'app/media/logo/profile.png' %}" alt="Image Profile 1">
                            </picture>
                        </div>
                    </section>
                    <section class="container py-3">
                        <div class="row border-secondary border-bottom border-1 mx-1">
                            <div class="col-9">
                                <h4 class="text-danger">Mario Maldonado</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                            <picture class="col-3">
                                <img class="img-opinion" src="{% static 'app/media/logo/profile.png' %}" alt="Image Profile 1">
                            </picture>
                        </div>
                    </section>

                </div>
            </div>
        </aside>
    </main>

    <script src="{% static 'app/js/imageNotFound.js' %}"></script>

{% endblock %}