{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- MAIN -->
    <main class="row mt-4">
        <article class="col-lg-9">
            <div class="container border-primary border-top border-5 me-lg-2">
                <div class="row">
                    <header class="pt-2">
                        <h2>Principal</h2>
                    </header>
                    <!-- ARTICLE PRINCIPALE -->
                    <article class="col-md-7 pb-3">
                        <a class="article rounded" href="article.html" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/' %}{{ articles.0.image_art}}" alt="Article Main Image">
                            </picture>
                            <header class="py-3">
                                <h2>{{ articles.0.title_art }}</h2>
                                <p>{{ articles.0.date_art }}</p>
                            </header>
                            <p>{{ articles.0.hook_art }}</p>
                        </a>
                    </article>
                    <!-- ASIDE (partie a droite de l'article principal)-->
                    <aside class="col-md-5">
                        <!-- ARTICLE 2 -->
                        <section class="pb-3">
                            <a class="article rounded" href="#" target="_self">
                                <picture>
                                    <img class="img-fluid img-thumbnail" src="{% static 'app/media/' %}{{ articles.1.image_art}}"
                                        alt="Article 1 Main Image">
                                </picture>
                                <header class="pt-3 pb-1">
                                    <h2>{{ articles.1.title_art }}</h2>
                                    <p>{{ articles.1.date_art }}</p>
                                </header>
                                <p>{{ articles.1.hook_art }}</p>
                            </a>
                        </section>
                        <!-- ARTICLE 3 (sans photo)-->
                        <section class="pb-3">
                            <a class="article rounded" href="#" target="_self">
                                <h2>{{ articles.2.title_art }}</h2>
                                <p>{{ articles.2.hook_art }}</p>
                            </a>
                        </section>
                    </aside>
                    <!-- ARTICLE 4 -->
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="#" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/' %}{{ articles.3.image_art }}"
                                    alt="Article 3 Main Image">
                            </picture>
                            <h3 class="pt-2">{{ articles.3.title_art }}</h3>
                            <p>{{ articles.3.hook_art }}</p>
                        </a>
                    </article>
                    <!-- ARTICLE 5 -->
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="#" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/' %}{{ articles.4.image_art }}"
                                    alt="Article 4 Main Image">
                            </picture>
                            <h3 class="pt-2">{{ articles.4.title_art }}</h3>
                            <p>{{ articles.4.hook_art }}</p>
                        </a>
                    </article>
                    <!-- ARTICLE 6 -->
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="#" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/' %}{{ articles.5.image_art }}""
                                    alt="Article 6 Main Image">
                            </picture>
                            <h3 class="pt-2">{{ articles.5.title_art}}</h3>
                            <p>{{ articles.5.hook_art }}</p>
                        </a>
                    </article>
                    <!-- ARTICLE 7 -->
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="#" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/' %}{{ articles.6.image_art }}"
                                    alt="Article 6 Main Image">
                            </picture>
                            <h3 class="pt-2">{{ articles.6.title_art }}</h3>
                            <p>{{ articles.6.hook_art }}</p>
                        </a>
                    </article>
                    <!-- ARTICLE 8 -->
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="#" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/' %}{{ articles.7.image_art }}" alt="Article 8 Main Image">
                            </picture>
                            <h3 class="pt-2">{{ articles.7.title_art }}</h3>
                            <p>{{ articles.7.hook_art }}</p>
                        </a>
                    </article>
                    <!-- ARTICLE 9 -->
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="#" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/' %}{{ articles.8.image_art }}"
                                    alt="Article 9 Main Image">
                            </picture>
                            <h3 class="pt-2">{{ articles.8.title_art }}</h3>
                            <p>{{ articles.8.hook_art }}</p>
                        </a>
                    </article>
                </div>
            </div>

        </article>
        <!-- ASIDE (partie Opinion)-->
        <aside class="col-lg-3">
            <div class="container border-primary border-top border-5 ms-2">
                <div class="row">
                    <header class="pt-2">
                        <h2>Opinion</h2>
                    </header>
                    <section class="container py-3">
                        <div class="row border-secondary border-bottom border-1 mx-1">
                            <div class="col-9 ">
                                <h4 class="text-danger">Bajo Reservatext</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                            <picture class="col-3">
                                <img class="img-opinion" src="{% static 'app/media/profile.png' %}" alt="Image Profile 1">
                            </picture>
                        </div>
                    </section>
                    <section class="container py-3">
                        <div class="row border-secondary border-bottom border-1 mx-1">
                            <div class="col-9">
                                <h4 class="text-danger">Hector De Mauleon</h4>
                                <p>Voluptatem deleniti minima vel aliquam mollitia alias</p>
                            </div>
                            <picture class="col-3">
                                <img class="img-opinion" src="{% static 'app/media/profile.png' %}" alt="Image Profile 1">
                            </picture>
                        </div>
                    </section>
                    <section class="container py-3">
                        <div class="row border-secondary border-bottom border-1 mx-1">
                            <div class="col-9">
                                <h4 class="text-danger">Salvador Garcia Soto</h4>
                                <p>Illum eveniet cum molestias tempore labore neque eius</p>
                            </div>
                            <picture class="col-3">
                                <img class="img-opinion" src="{% static 'app/media/profile.png' %}" alt="Image Profile 1">
                            </picture>
                        </div>
                    </section>
                    <section class="container py-3">
                        <div class="row border-secondary border-bottom border-1 mx-1">
                            <div class="col-9">
                                <h4 class="text-danger">Carlos Loret de Mola</h4>
                                <p>Labore neque eius architecto dicta fugit eaque laudantium quos. </p>
                            </div>
                            <picture class="col-3">
                                <img class="img-opinion" src="{% static 'app/media/profile.png' %}" alt="Image Profile 1">
                            </picture>
                        </div>
                    </section>
                    <section class="container py-3">
                        <div class="row border-secondary border-bottom border-1 mx-1">
                            <div class="col-9">
                                <h4 class="text-danger">Mario Maldonado</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                            <picture class="col-3">
                                <img class="img-opinion" src="{% static 'app/media/profile.png' %}" alt="Image Profile 1">
                            </picture>
                        </div>
                    </section>

                </div>
            </div>
        </aside>
    </main>

{% endblock %}