{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- MAIN -->
    <main class="row mt-4">
        <article class="col-lg-9">
            <div class="container border-primary border-top border-5 me-lg-2">
                <div class="row">
                    <header class="pt-2">
                        <h2>Principal</h2>
                    </header>
                    <!-- ARTICLE PRINCIPALE -->
                    <article class="col-md-7 pb-3">
                        <a class="article rounded" href="article.html" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/article1.jpg' %}" alt="Article Main Image">
                            </picture>
                            <header class="py-3">
                                <h2>Titre article principal: Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Harum, nesciunt?</h2>
                                <p>23:07 10/06/2024</p>
                            </header>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Laudantium fugiat magnam rerum
                                dolorum cupiditate dignissimos repellendus, omnis, enim, itaque porro tempora quisquam
                                aut.
                                Molestiae nesciunt, iusto sapiente quidem temporibus saepe.
                                Quisquam voluptas, libero aliquid excepturi delectus consectetur et? Est esse ex
                                voluptatibus cum facere, natus quam necessitatibus exercitationem nihil velit libero
                                mollitia quod deserunt eius perspiciatis quibusdam voluptates explicabo aspernatur.
                                Suscipit totam, vel molestiae debitis est quae dolorum tempore fugit, maiores cumque
                                explicabo corrupti impedit porro reiciendis placeat odit quaerat omnis quo non nemo
                                rerum
                                ipsa ea. Vero, voluptatem consequatur?</p>
                        </a>
                    </article>
                    <!-- ASIDE (partie a droite de l'article principal)-->
                    <aside class="col-md-5">
                        <!-- ARTICLE 2 -->
                        <section class="pb-3">
                            <a class="article rounded" href="#" target="_self">
                                <picture>
                                    <img class="img-fluid img-thumbnail" src="{% static 'app/media/article2.jpg' %}"
                                        alt="Article 2 Main Image">
                                </picture>
                                <header class="pt-3 pb-1">
                                    <h2>Titre article secondaire: Lorem ipsum dolor, sit amet consectetur
                                        adipisicing elit. Nobis inventore </h2>
                                    <p>23:07 10/06/2024</p>
                                </header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Dignissimos eligendi ratione
                                    voluptatibus dolore similique cumque. Soluta perspiciatis nam autem excepturi
                                    corrupti
                                    fuga ad</p>
                            </a>
                        </section>
                        <!-- ARTICLE 3 (sans photo)-->
                        <section class="pb-3">
                            <a class="article rounded" href="#" target="_self">
                                <h2>Titre article n°3: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis
                                    inventore </h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Dignissimos eligendi ratione
                                    voluptatibus dolore similique cumque. Soluta perspiciatis nam autem excepturi
                                    corrupti
                                    fuga ad</p>
                            </a>
                        </section>
                    </aside>
                    <!-- ARTICLE 4 -->
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="#" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/article4.jpg' %}"
                                    alt="Article 4 Main Image">
                            </picture>
                            <h3 class="pt-2">Titre article n°4</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Molestiae distinctio quibusdam
                                cupiditate at eaque! Perferendis animi harum temporibus beatae cupiditate tenetur
                                consequuntur quod quas, aspernatur quia qui autem, quos fuga!</p>
                        </a>
                    </article>
                    <!-- ARTICLE 5 -->
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="#" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/article5.jpg' %}"
                                    alt="Article 5 Main Image">
                            </picture>
                            <h3 class="pt-2">Titre article n°5</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Molestiae distinctio quibusdam
                                cupiditate at eaque! Perferendis animi harum temporibus beatae cupiditate tenetur
                                consequuntur quod quas, aspernatur quia qui autem, quos fuga!</p>
                        </a>
                    </article>
                    <!-- ARTICLE 6 -->
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="#" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/article6.jpg' %}"
                                    alt="Article 6 Main Image">
                            </picture>
                            <h3 class="pt-2">Titre article n°6</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Molestiae distinctio quibusdam
                                cupiditate at eaque! Perferendis animi harum temporibus beatae cupiditate tenetur
                                consequuntur quod quas, aspernatur quia qui autem, quos fuga!</p>
                        </a>
                    </article>
                    <!-- ARTICLE 7 -->
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="#" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/article7.jpg' %}"
                                    alt="Article 7 Main Image">
                            </picture>
                            <h3 class="pt-2">Titre article n°7</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Molestiae distinctio quibusdam
                                cupiditate at eaque! Perferendis animi harum temporibus beatae cupiditate tenetur
                                consequuntur quod quas, aspernatur quia qui autem, quos fuga!</p>
                        </a>
                    </article>
                    <!-- ARTICLE 8 -->
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="#" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/article8.jpg' %}" alt="Article 8 Main Image">
                            </picture>
                            <h3 class="pt-2">Titre article n°8</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Molestiae distinctio quibusdam
                                cupiditate at eaque! Perferendis animi harum temporibus beatae cupiditate tenetur
                                consequuntur quod quas, aspernatur quia qui autem, quos fuga!</p>
                        </a>
                    </article>
                    <!-- ARTICLE 9 -->
                    <article class="col-md-6 col-lg-4 pb-3">
                        <a class="article rounded" href="#" target="_self">
                            <picture>
                                <img class="img-fluid img-thumbnail" src="{% static 'app/media/article9.jpg' %}"
                                    alt="Article 9 Main Image">
                            </picture>
                            <h3 class="pt-2">Titre article n°9</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Molestiae distinctio quibusdam
                                cupiditate at eaque! Perferendis animi harum temporibus beatae cupiditate tenetur
                                consequuntur quod quas, aspernatur quia qui autem, quos fuga!</p>
                        </a>
                    </article>
                </div>
            </div>
        </article>
        <!-- ASIDE (partie Opinion)-->
        <aside class="col-lg-3">
            <div class="container border-primary border-top border-5 ms-2">
                <div class="row">
                    <header class="pt-2">
                        <h2>Opinion</h2>
                    </header>
                    <section class="container py-3">
                        <div class="row border-secondary border-bottom border-1 mx-1">
                            <div class="col-9 ">
                                <h4 class="text-danger">Bajo Reservatext</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                            <picture class="col-3">
                                <img class="img-opinion" src="{% static 'app/media/profile.png' %}" alt="Image Profile 1">
                            </picture>
                        </div>
                    </section>
                    <section class="container py-3">
                        <div class="row border-secondary border-bottom border-1 mx-1">
                            <div class="col-9">
                                <h4 class="text-danger">Hector De Mauleon</h4>
                                <p>Voluptatem deleniti minima vel aliquam mollitia alias</p>
                            </div>
                            <picture class="col-3">
                                <img class="img-opinion" src="{% static 'app/media/profile.png' %}" alt="Image Profile 1">
                            </picture>
                        </div>
                    </section>
                    <section class="container py-3">
                        <div class="row border-secondary border-bottom border-1 mx-1">
                            <div class="col-9">
                                <h4 class="text-danger">Salvador Garcia Soto</h4>
                                <p>Illum eveniet cum molestias tempore labore neque eius</p>
                            </div>
                            <picture class="col-3">
                                <img class="img-opinion" src="{% static 'app/media/profile.png' %}" alt="Image Profile 1">
                            </picture>
                        </div>
                    </section>
                    <section class="container py-3">
                        <div class="row border-secondary border-bottom border-1 mx-1">
                            <div class="col-9">
                                <h4 class="text-danger">Carlos Loret de Mola</h4>
                                <p>Labore neque eius architecto dicta fugit eaque laudantium quos. </p>
                            </div>
                            <picture class="col-3">
                                <img class="img-opinion" src="{% static 'app/media/profile.png' %}" alt="Image Profile 1">
                            </picture>
                        </div>
                    </section>
                    <section class="container py-3">
                        <div class="row border-secondary border-bottom border-1 mx-1">
                            <div class="col-9">
                                <h4 class="text-danger">Mario Maldonado</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                            <picture class="col-3">
                                <img class="img-opinion" src="{% static 'app/media/profile.png' %}" alt="Image Profile 1">
                            </picture>
                        </div>
                    </section>

                </div>
            </div>
        </aside>
    </main>

{% endblock %}