{% extends 'base.html' %}

{% load static %}

{% block title %}4IPDW - Recherche{% endblock %}

{% block content %}

<div class="dynamic-content">
    <main class="d-flex justify-content-center row pt-3">
        <header class="border-primary border-top border-5">
                <h2 class="text-center pb-4 pt-2 text-danger">Page de recherche</h2>
        </header>
        <div id="search-box" class="col-10 col-lg-6 m-3">
            <h5 class="text-center text-black">Critères de la recherche:</h5>
            {% csrf_token %}
            <!-- MOT CLES DANS LE TITRE-->
            <div class="row py-2">
                <label for="wordTitreArticle" class="col-md-5 col-form-label text-center text-md-end">Mot clés dans le titre:</label>
                <div class="col-md-7">
                    <input type="text" id="wordTitreArticle" name="wordTitreArticle" class="form-control"
                           placeholder="Votre mot dans le titre">
                </div>
            </div>
            <!-- MOT CLES DANS LE HOOK-->
            <div class="row py-2">
                <label for="wordHookArticle" class="col-md-5 col-form-label text-center text-md-end">Mot clé dans le hook:</label>
                <div class="col-md-7">
                    <input type="text" id="wordHookArticle" name="wordHookArticle" class="form-control"
                           placeholder="Votre mot dans le hook">
                </div>
            </div>
            <!-- MOT CLES DANS LE CORPS -->
            <div class="row py-2">
                <label for="wordContentArticle" class="col-md-5 col-form-label text-center text-md-end">Mot clés dans le contenu:</label>
                <div class="col-md-7">
                    <input type="text" id="wordContentArticle" name="wordContentArticle" class="form-control"
                           placeholder="Votre mot dans contenu"
                           value="{% if content_art__icontains %}{{ content_art__icontains }}{% endif %}">
                </div>
            </div>
            <!-- DATE Min-->
            <div class="row py-2">
                <label for="minDateArticle" class="col-md-5 col-form-label text-center text-md-end">Date min:</label>
                <div class="col-md-7">
                    <input type="date" id="minDateArticle" name="minDateArticle" class="form-control" min="2023-12-01" max="2023-12-31"
                        value="{% if date_art %}{{ date_art }}{% endif %}">
                </div>
            </div>
            <!-- DATE Min-->
            <div class="row py-2">
                <label for="maxDateArticle" class="col-md-5 col-form-label text-center text-md-end">Date max:</label>
                <div class="col-md-7">
                    <input type="date" id="maxDateArticle" name="maxDateArticle" class="form-control" min="2023-12-01" max="2023-12-31"
                        value="{% if date_art %}{{ date_art }}{% endif %}">
                </div>
            </div>
            <!-- CATEGORIE -->
            <div class="row py-2">
                <label for="catArticle" class="col-md-5 col-form-label text-center text-md-end">Catégorie:</label>
                <div class="col-md-7">
                    <select class="form-select" id="catArticle" name="catArticle">
                        <option value="0">-</option>
                        {% for cat in category %}
                        <option value="{{ cat.id_cat }}"
                        {% if cat.id_cat|stringformat:"s" == fk_category_art %} selected{% endif %}>{{ cat.name_cat }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- cursor -->
            <div class="row py-2">
                <label for="readTimeArticle" class="col-md-5 col-form-label text-center text-md-end">Readtime:</label>
                <div class="col-md-7 d-flex align-items-center">
                    <input class="form-range me-3" type="range" id="readTimeArticle" name="readTimeArticle"
                           min="0"
                           max="{{ max_readtime }}"
                           value="{% if readtime_art %}{{ readtime_art }}{% else %}0{% endif %}">
                    <span class="col-1 ms-3 border border-2 border-dark-subtle rounded-3 text-center" id="readTimeBox">
                    </span>
                </div>
            </div>
            <!-- NOMBRE d'article par page -->
            <div class="row py-2">
                <label for="nbrArticle" class="col-md-5 col-form-label text-center text-md-end">Nombre d'article à afficher:</label>
                <div class="d-flex align-items-center col-md-7">
                    <input class="form-control me-3" type="number" id="nbrArticle" name="nbrArticle" min="10" max="2000" step="10" value="10">
                    <div class="form-check form-switch">
                      <input class="form-check-input me-2" type="checkbox" role="switch" id="maxNbrArticle" name="maxNbrArticle">
                      <label class="form-check-label" for="maxNbrArticle">Max</label>
                    </div>
                </div>
            </div>
            <!-- TRIE-->
            <div class="row py-2">
                <label for="triArticle" class="col-md-5 col-form-label text-center text-md-end">Trier par:</label>
                <div class="col-md-7">
                    <select class="form-select" id="triArticle" name="triArticle">
                        <option value="date_art">Plus ancien au plus récent</option>
                        <option value="-date_art">Plus récent au plus ancien</option>
                    </select>
                </div>
            </div>
            <div class="d-grid gap-2 py-2">
                <a id="reset-button" class="btn btn-outline-danger">Reset</a>
            </div>
            <nav id="pagination-container" style="display: none;">
                <ul class="pagination justify-content-center mt-3">
                    <li class="page-item disabled" id="prev-page">
                        <a class="page-link icon-link icon-link-hover">
                            <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-left"></use></svg>
                            Précédent
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" id="current-page" >1</a></li>
                    <li class="page-item" id="next-page">
                        <a class="page-link icon-link icon-link-hover">
                            Suivant
                            <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <script src="{% static 'app/js/getArticleDetail.js' %}"></script>
        <script src="{% static 'app/js/tooltip.js' %}"></script>
        <script src="{% static 'app/js/readTime.js' %}"></script>
        <script src="{% static 'app/js/recherche.js' %}"></script>
        <script src="{% static 'app/js/dateArticle.js' %}"></script>
        <script src="{% static 'app/js/maxNbrArticle.js' %}"></script>

    </main>
    <div id="tooltip-bubble" class="tooltip-bubble position-absolute p-2 bg-info bg-opacity-100 text-black rounded">
        <ul class="list mb-0">
            {% if request.session.role == 'admin' %}
                <li><strong>Id:</strong> <span id="tooltip-id"></span></li>
                <li><strong>Temps de lecture:</strong> <span id="tooltip-readtime"></span>mins</li>
                <li><strong>Nbr de mots:</strong> <span id="tooltip-nbrwords"></span></li>
            {% endif %}
            <li><strong>Date:</strong> <span id="tooltip-date"></span></li>
            <li><strong>Catégorie:</strong> <span id="tooltip-category"></span></li>
            {% if request.session.role %}
                <li><strong>Favoris:</strong> <span id="tooltip-favoris"></span></li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}