{% extends 'base.html' %}

{% load static %}

{% block content %}
<main class="d-flex justify-content-center row pt-3">
    <header class="border-primary border-top border-5">
        <h2 class="text-center pb-4 pt-2 text-danger">Nos <strong>PRECIEUX</strong> sponsors</h2>
    </header>
    <div class="sponsor">
        <p>{{ data.text }}</p>
        <a href="{{ data.link }}" target="_blank">
            <img src="{{ data.image }}" alt="Sponsor Image">
        </a>
    </div>
    <div>
        <br>
        <hr>
        <pre>{{ formatted_data }}</pre>
    </div>
</main>
{% endblock %}