{% extends 'base.html' %}

{% load static %}

{% block title %}4IPDW - Sponsors{% endblock %}

{% block content %}
<main class="d-flex justify-content-center row pt-3">
    <header class="border-primary border-top border-5">
        <h2 class="text-center pb-4 pt-2 text-danger">Nos <strong>PRECIEUX</strong> sponsors</h2>
    </header>
    {% for data_key, data_info in data.items %}
    <div class="p-0 sponsor" style="
                    background-image: url('{{ data_info.background_image }}');
                    color: {{ data_info.color }};">
        <a class="d-flex column" href="{{ data_info.link }}" target="_blank">
                <img class="px-3" src="{{ data_info.image }}" alt="Sponsor Image">
                <p>{{ data_info.text }}</p>
        </a>
    </div>
    <br>
    {% endfor %}
    {% if request.session.role == 'admin' %}
    <div>
        <hr>
        <pre>{{ formatted_data }}</pre>
    </div>
    {% endif %}
</main>
{% endblock %}