{% extends 'base.html' %}

{% load static %}

{% block content %}
<main class="d-flex justify-content-center row pt-3">
    <header class="border-primary border-top border-5">
        <h2 class="text-center pb-4 pt-2 text-danger">Test Font</h2>
    </header>
    <h1>Titre article h1: Dubai-Bold</h1>
    <h2>Titre article h2: Dubai-Medium</h2>
    <h3>Titre article h3: Dubai-Regular</h3>
    <h4>Titre article h4: Dubai-Light</h4>
    <p>Contenu Article p: Haettenschweiler</p>
    <div class="dubai-bold-font">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam alias quasi consequuntur similique dolor dolore, sit natus corrupti, officiis quis architecto aliquid nam provident tempora tempore culpa obcaecati voluptatibus fuga?
    </div>
    <div class="dubai-medium-font">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam alias quasi consequuntur similique dolor dolore, sit natus corrupti, officiis quis architecto aliquid nam provident tempora tempore culpa obcaecati voluptatibus fuga?
    </div>
    <div class="dubai-regular-font">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam alias quasi consequuntur similique dolor dolore, sit natus corrupti, officiis quis architecto aliquid nam provident tempora tempore culpa obcaecati voluptatibus fuga?
    </div>
    <div class="dubai-light-font">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam alias quasi consequuntur similique dolor dolore, sit natus corrupti, officiis quis architecto aliquid nam provident tempora tempore culpa obcaecati voluptatibus fuga?
    </div>
    <div class="haettenschweiler-font">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam alias quasi consequuntur similique dolor dolore, sit natus corrupti, officiis quis architecto aliquid nam provident tempora tempore culpa obcaecati voluptatibus fuga?
    </div>
</main>

{% endblock %}