#ajax-messages {
    position: absolute;
    top: 173px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3000;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 0px) and (max-width: 991px) {
    #ajax-messages {
        width: 90%;
        left: 50%;
        top: 85px;
    }

    #ajax-messages .alert {
        font-size: 0.9rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    #ajax-messages {
        width: auto;
        left: 50%;
        top: 196px;
    }

    #ajax-messages .alert {
        font-size: 1rem;
    }
}

#ajax-messages .alert {
    min-width: 250px;
    max-width: 90vw;
    margin-top: 10px;
    pointer-events: auto;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    transform: translateY(-10px);
    position: relative;
}

@keyframes message-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes message-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

#ajax-messages .alert.showing {
    animation: message-in 1s ease-in-out forwards;
}

#ajax-messages .alert.removing {
    animation: message-out 1s ease-in-out forwards;
}
