#tooltip-bubble {
    /*display: none;*/
    z-index: 9999;
    max-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    position: absolute;
    display: block;
}

.tooltip-bubble ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tooltip-bubble li {
    font-size: 14px;
}

.tooltip-bubble strong {
    font-weight: bold;
}